h1{
    color:aqua;
}



.Header{
    background-color: cornsilk;
    
    display:flex;
    justify-content:space-between;
}

.grid {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.footer {
    display:flex;
    justify-content: flex-end;
}

body {
    background-color: #9aff17;

}

.menu {
    margin-right:30px;
    padding:30px;
}

a {
    color: #3c66da
}

.menu a {
    margin-left:20px;
}

.item {
    position:relative;
}

.item p {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    
}

.item:hover p {
    opacity:1;
    font-size: 30px;
}

.item:hover img {
    opacity:0.33;
}